<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/dark-mode.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>About</title>
</head>
<body>
<div class="container">
    <p>This is a family run car shop, we care about creating quality products and customer satisfaction. This company was founded in 1942 by my grandfather Jackson Douglas. He had a passion for cars and we have been carrying on his legacy ever since.</p>
    <a href="/main-screen" class="btn btn-primary">Return to Main Screen</a>
</div>
</body>
</html>