<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/dark-mode.js"></script>
    <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css " rel="stylesheet">
    <title>Product Form</title>
</head>
<body>
<div class="container">
    <h1>Product Detail</h1>
    <form th:action="@{/add-product}" th:object="${product}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group mb-4">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" placeholder="Name" class="form-control"/>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">Name Error</div>
        </div>
        <div class="form-group mb-4">
            <label for="price">Price:</label>
            <input type="text" id="price" th:field="*{price}" placeholder="Price" class="form-control"/>
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error">Price Error</div>
        </div>
        <div th:if="${#fields.hasAnyErrors()}">
            <ul class="errors">
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <a href="/main-screen" class="btn btn-primary">Return to Main Screen</a>
</div>
</body>
</html>